/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-maj-22, 10:46:25
    Author     : User
*/

.LoginButton{
    -fx-background-color: #ff6c20;
    -fx-font: bold italic 10pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #ff6c20 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#c2c2c2 0%, #ff6c20 40%, #ff6c20 60%, #afafaf 100%),
        linear-gradient(#ff6c20 0%, #dbdbdb 50%, #cacaca 51%, #ff6c20 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}