.white {
    -fx-background-color: white;
}

.drop-down {
    -fx-background-color: white;
    -fx-border-color: black;
}

.orange-button {
    -fx-background-color: DD4814;
    -fx-text-fill: white;
    
}


.table-view .column-header{
    -fx-background-color: DD4814;
    -fx-border-radius: 100;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.chooseDropDown:focused{
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-focus-color: DD4814;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: DD4814;
    -fx-border-color: DD4814;
}

.table-row-cell:selected .table-cell {
    -fx-background-color: #999999;
    -fx-focus-color: DD4814;
}

.statistics-text {
    -fx-font-size: 18px;
}

.myAlert{
    -fx-background-color:white;
}

.myAlert > *.button-bar > *.container{
    -fx-background-color: white;
}

.myAlert > *.label.content{
    -fx-font-size: 14px;


}

.myAlert:header *.header-panel{
    -fx-background-color: DD4814;
    -fx-font-color: white;
}

.myAlert:header *.header-panel *.label{
    -fx-font-size: 26   px;
    -fx-text-fill: white;

}